.table_list {
  width: 100%;line-height: 1.6;margin-bottom: 15px;
  &,td,th {
    border: 1px solid $gray;
  }
  td,th {
    padding: 5px 8px;text-align: center;
  }
  th {
    background: $lgray;color: $lblack;font-size: 14px;
  }
  tr {
    background: $cff;
    &:hover {
      background: $elgray;
    }
  }
  tr:nth-child(2n+1) {
    background: $cf9;
  }
}
.table_edit {
  width: 100%;line-height: 1.6;margin-bottom: 15px;
  &,td,th {
    padding: 8px;border: 1px solid $gray;
  }
  th {
    text-align: right;background: $elgray;color: $lblack;font-size: 14px;
  }
  tr {
    background: $cff;
  }
  tr:nth-child(2n) {
    background: $cf9;
  }
}
